[(#LISTE{
COLORBOX,
FEATHERLIGHT,
}|set{libs})]

<B_plugins>
<div class="box info">
	<div class="inner">
		<div class="clearfix hd titrem">
			<:mediabox:plugins_complementaires_titre:>	
		</div>
		<div class="clearfix bd">
			<p><:mediabox:plugins_complementaires_texte:></p>
			<ul>
<BOUCLE_plugins(PLUGINS){prefixe IN #GET{libs}}{tout}>
			[(#NOM|unique|oui)
				<li>
					[(#PLUGIN{#PREFIXE}|oui)
						[#NOM (#CHEMIN_IMAGE{ok-16.png}|balise_img)]
					]
					[(#PLUGIN{#PREFIXE}|non)
					<a href="[(#URL_ECRIRE{charger_plugin}|parametre_url{phrase,#PREFIXE})]">
						#NOM
					</a>
					]					
				</li>]
</BOUCLE_plugins>
			</ul>	
		</div>
	</div>
</div>
</B_plugins>
<//B_plugins>